{%extends 'base.html' %}
{% load static %}

{% block content %}
<div id="uid" class="d-none">{{request.user.id}}</div>
<div id="rid" class="d-none">{{room_id}}</div>
<div id="catan_game"></div>
{% endblock %}


{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>


<script src="{% static 'catan/catan_maps.js' %}"></script>
<script src="{% static 'catan/catan_assets.js' %}"></script>
<script src="{% static 'catan/catan_cards.js' %}"></script>
<script src="{% static 'catan/catan_loading.js' %}"></script>


<script src="{% static 'catan/catan_utils_map.js' %}"></script>
<script src="{% static 'catan/catan_players.js' %}"></script>

<!-- https://github.com/mucaho/crafty-component-progressbar -->
<script src="{% static 'base/ProgressBar.js' %}"></script>

<script src="{% static 'catan/catan_build.js' %}"></script>
<script src="{% static 'catan/catan_dice.js' %}"></script>
<script src="{% static 'catan/catan_robber.js' %}"></script>

<script src="{% static 'catan/catan_info.js' %}"></script>
<script src="{% static 'catan/catan_buttons.js' %}"></script>

<script src="{% static 'catan/catan_actions.js' %}"></script>
<script src="{% static 'catan/catan_websocket.js' %}"></script>
<script src="{% static 'catan/catan.js' %}"></script>

{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'catan/catan.css' %}">
{% endblock %}
